@import "fonts"
@import "libs"
@import "vars"

*
	-webkit-box-sizing: border-box
	-moz-box-sizing: border-box
	box-sizing: border-box
	&:before, &:after
		-webkit-box-sizing: border-box
		-moz-box-sizing: border-box
		box-sizing: border-box

*::-webkit-input-placeholder
	color: #666
	opacity: 1

*:-moz-placeholder
	color: #666
	opacity: 1

*::-moz-placeholder
	color: #666
	opacity: 1

*:-ms-input-placeholder
	color: #666
	opacity: 1

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: #666
body input:required:valid,
body textarea:required:valid
	color: #666

html, body
	height: 100%

body
	font-size: 14px
	min-width: 320px
	position: relative
	line-height: 25px
	font-family: $default-font
	overflow-x: hidden
	opacity: 1

a
  color: #171717
  text-decoration: none
  cursor: pointer
  &:hover
    color: #bababa
    transition: all .3s ease 0s

.text-center
	text-align: center

.text-right
	text-align: right
	
.text-left
	text-align: left
	
h1, h2, h3, h4, h5
	color: #171717
	font-family: $bold-font

h1
	font-size: em(72px)

h2
	font-size: em(36px)

h3
	font-size: em(24px)

h4
	font-size: em(14px)

h5
	font-size: em(12px)

.medium-text
	font-size: em(16px)

.big-text
	font-size: em(18px)

.img-responsive
	display: block
	max-width: 100%
	height: auto

.page-section
	display: block
	width: 100%
	position: relative
	overflow: hidden

.pt-100-b-80-cont
  padding-top: 100px
  padding-bottom: 80px

// Footer styles
.footer-menu
  padding-bottom: 35px
  a
    font-family: $medium-font
    line-height: 48px
    text-transform: uppercase
    padding-right: 25px
    padding-left: 25px
    &::first-child
      padding-left: 0
    &::last-child
      padding-right: 0

.footer-soc-a
  padding-bottom: 10px
  a
    color: #bababa
    font-size: 16px
    padding-left: 35px
    padding-right: 35px
    &::first-child
      padding-left: 0
    &::last-child
      padding-right: 0
    &:hover
      color: #171717

.footer-copy
  margin-top: 5px



@import "media" // Всегда в конце
