@import "fonts"
@import "libs"
@import "vars"

*
	-webkit-box-sizing: border-box
	-moz-box-sizing: border-box
	box-sizing: border-box
	&:before, &:after
		-webkit-box-sizing: border-box
		-moz-box-sizing: border-box
		box-sizing: border-box

*::-webkit-input-placeholder
	color: #666
	opacity: 1

*:-moz-placeholder
	color: #666
	opacity: 1

*::-moz-placeholder
	color: #666
	opacity: 1

*:-ms-input-placeholder
	color: #666
	opacity: 1

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: #666
body input:required:valid,
body textarea:required:valid
	color: #666

html, body
	height: 100%

body
	font-size: 14px
	min-width: 320px
	position: relative
	line-height: 25px
	font-family: $default-font
	overflow-x: hidden
	opacity: 1

a
  color: #171717
  text-decoration: none
  cursor: pointer
  &:hover
    color: #bababa
    transition: all .3s ease 0s

.a-text,
.a-text-cont
  a
    color: #7e8082
    &:hover
      color: #101010

.text-center
	text-align: center

.text-right
	text-align: right
	
.text-left
	text-align: left

.right
  float: right

h1, h2, h3, h4, h5
	color: #171717
	font-family: $bold-font

h1
	font-size: em(72px)

h2
	font-size: em(36px)

h3
	font-size: em(24px)

h4
	font-size: em(14px)

h5
	font-size: em(12px)

.medium-text
	font-size: em(16px)

.big-text
	font-size: em(18px)

.bold
  font-weight: 700

.img-responsive
	display: block
	max-width: 100%
	height: auto

.page-section
	display: block
	width: 100%
	position: relative
	overflow: hidden

.pt-100-b-80-cont
  padding-top: 100px
  padding-bottom: 80px

.pb-50
  padding-bottom: 50px

.pt-80
  padding-top: 80px

ul
  list-style: none
  margin: 0
  padding: 0

// Footer styles
.footer-menu
  padding-bottom: 35px
  a
    font-family: $medium-font
    line-height: 48px
    text-transform: uppercase
    padding-right: 25px
    padding-left: 25px
    &::first-child
      padding-left: 0
    &::last-child
      padding-right: 0

.footer-soc-a
  padding-bottom: 10px
  a
    color: #bababa
    font-size: 16px
    padding-left: 35px
    padding-right: 35px
    &::first-child
      padding-left: 0
    &::last-child
      padding-right: 0
    &:hover
      color: #171717

.footer-copy
  margin-top: 5px

.widget
  margin-bottom: 60px
  h4
    margin-top: 16px
    margin-bottom: 21px
    font-size: 12px
    font-weight: 500
    color: #171717
    text-transform: uppercase
  .links-list
    li
      padding-bottom: 7px
      line-height: 30px
      a
        color: #878787
        font-size: 14px
        font-weight: 400
  .subscription
    .subscription_text
      border: 1px solid #dedede
      padding: 12px
      font-family: $light-font
      color: #878787
      font-size: 14px

.social-list,
.payment-list
  li
    display: inline-block
    margin-right: 15px
    &:last-child
      margin-right: 0
    .fa
      font-size: 18px
      color: #171717
      &:hover
        color: #878787


.footer-copy-wrap
  border-top: 1px solid #ededed
  padding-top: 29px
  .footer-copy
    a
      color: #878787
      font-family: $light-font
      font-size: 14px
      line-height: 22px

#footer3
  .footer-top
    margin-top: 30px
    margin-bottom: 30px
    .footer-menu
      padding-bottom: 0
      li
        display: inline-block
        a
          color: #171717
          font-family: $medium-font
          font-size: 12px
          line-height: 48px
          text-transform: uppercase
  .footer-bottom
    border-top: 1px solid #ededed
    padding-top: 29px
    .footer-menu
      li
        padding-right: 10px
        a
          &:hover
            color: #878787

#footer4
  background-color: #171717
  color: #878787
  h4
    color: #ffffff
    text-transform: uppercase
  .subscribe-form
    input
      margin-right: 15px
      background: transparent
      border: 1px solid #3c3c3c
      padding: 15px
      width: 138px
    a.btn
      background-color: #f95318
      color: #ffffff
      padding: 12px 20px
      text-transform: uppercase
      font-family: $light-font

@import "media" // Всегда в конце
